# Самостоятельный проект 1

In [1]:
'Обратите внимание, в jupyter тетрадках необязательно применять функцию print, чтобы увидеть результат.'

'Обратите внимание, в jupyter тетрадках необязательно применять функцию print, чтобы увидеть результат.'


## Часть 1

### Задание 1.1

Создайте переменную и поместите в неё строку 'Привет! Это мой первый проект на Python!'.

In [2]:
t = 'Привет! Это мой первый проект на Python!'


### Задание 1.2

Решите уравнение с помощью Python, предварительно упростив выражение на бумаге:

$2x = 2 - (8 + 4x).$

Выведите на экран результат решения — значение переменной $x.$

In [3]:
# 2x=2−(8+4x)

# 1) раскрываем скобки: 2x=2−8−4x

# 2) упрощаем правую часть: 2x=−6−4x

# 3) добавляем 4х к обеим сторонам: 2x+4x=−6

# 4) получаем: 6x=−6

# 5) делим обе стороны на 6

# 6) получаем: x=−1

# определяем переменную
x = -1

# выводим результат
print('переменная x =', x)

переменная x = -1


### Задание 1.3

В переменной `pi` находится приблизительное значение числа $\pi{:}$ `3.1415926535`. 

1. Вычислите квадратный корень из полученного числа. 
2. Округлите результат до двух знаков после запятой. 
3. Выведите результат на экран.

In [4]:
#прекод
pi = '3.1415926535'
result = round(float(pi) ** 0.5,2)

print(result)

1.77


### Задание 1.4

Напишите функцию, которая будет переворачивать целые числа, то есть записывать их цифры в обратном порядке. Например, число 734 превратится в 437. Покажите работу функции на примере.

In [5]:
# определяем функцию
def revers(n):
    
    # создаем пустую переменную для записи 
    reversed = ''
    
    # циклом пробегаем по переменной n, записываем каждый полученный символ в начале строки в переменную reversed
    for x in n:
        reversed = x + reversed
    
    # возвращаем результат    
    return reversed

# записываем значение в переменную n и reversed_num   
n = input('Пожалуйста, введите значение:')
reversed_num = revers(n)

# возвращаем результат
print(f'Изначальное значение: {n}')
print(f'перевернутое значение: {reversed_num}')

Пожалуйста, введите значение:3
Изначальное значение: 3
перевернутое значение: 3


### Задание 1.5

Подсчитайте количество символов в строке `'Функцию pow стоит применять только с третьим аргументом (остаток по модулю), тогда её использование может быть оправдано.'` Результат выведите на экран.

In [6]:
#прекод
my_str_2 = 'Функцию pow имеет смысл применять только с третьим аргументом (остаток по модулю), тогда её использование может быть оправдано.'
print(f'В переменной "my_str_2" {len(my_str_2)} символов.')

В переменной "my_str_2" 127 символов.


### Задание 1.6

Отобразите часть предыдущей строки, начиная с 63-го символа и до конца.

In [7]:
#прекод
my_str_2 = 'Функцию pow имеет смысл применять только с третьим аргументом (остаток по модулю), тогда её использование может быть оправдано.'
print(my_str_2[62:])

(остаток по модулю), тогда её использование может быть оправдано.


### Задание 1.7

В строке `'Если ск0р0сть важна, т0 для извлечения к0рня видим0 нужн0 исп0льз0вать специальн0 п0дг0т0вленную для эт0г0 функцию.'` допущена ошибка: многие буквы `'о'` заменены на `0`. Исправьте ошибку и выведите результат на экран.

In [8]:
#прекод
my_str_3 = 'Если ск0р0сть важна, т0 для извлечения к0рня видим0 нужн0 исп0льз0вать специальн0 п0дг0т0вленную для эт0г0 функцию.'
print(my_str_3.replace('0', 'o'))

Если скoрoсть важна, тo для извлечения кoрня видимo нужнo испoльзoвать специальнo пoдгoтoвленную для этoгo функцию.


### Задание 1.8

Дан список из слов. Найдите три самых длинных слова и выведите их на экран.

In [9]:
#прекод
# Дан список из слов. Найдите три самых длинных слова и выведите их на экран.
list_word = ['Зеркало', 'Синица', 'Горнодобывающий', 'Излюбленный', 'Карта', 'Миг', 'Свора', 'Травоядный', 'Монокль']

# сортируем список по длине в порядке убывания, возвращаем первые три слова
sorted_list = sorted(list_word, key = len, reverse = True)[:3]

# выводим результат, первые три слова по длине от большего к меньшему 
print(sorted_list)

['Горнодобывающий', 'Излюбленный', 'Травоядный']


### Задание 1.9

В переменной `my_list` лежит список списков. Внутренние списки состоят из чисел и строк, которые представляют собой целые числа. 

Поправьте типы:

- Измените тип на `int` у тех значений, которые представляют целые числа, но являются строками.
- Если элемент является числовым типом, то не меняйте его.

Отобразите изменённый список на экране.

In [10]:
#прекод
my_list = [
    ['7', '2', 6, 7.5, '7.5'],
    ['6', '7', 7, '8.1', '7.2'],
    ['6.5', '18', 1998, '6'],
    ['44', 5, '84', '21']
]

# Создаем пустой список для записи
converted_list = []

# пробегам по каждому списку
for inner_list in my_list:
    new_inner_list = []  
    for item in inner_list:
        # Проверяем, является ли элемент строкой или числом
        if isinstance(item, str) and item.isdigit():
            new_inner_list.append(int(item))  # преобразуем в int
        else:
            new_inner_list.append(item)  # либо оставляем без изменений
    converted_list.append(new_inner_list)  

# Выводим результат на экран
print(converted_list)

[[7, 2, 6, 7.5, '7.5'], [6, 7, 7, '8.1', '7.2'], ['6.5', 18, 1998, 6], [44, 5, 84, 21]]


### Задание 1.10

Создайте функцию, которая будет принимать на вход длины трёх отрезков, и определять, можно ли из таких отрезков составить треугольник. Напомним, что у треугольника сумма длин двух сторон должна быть больше длины третьей стороны. 

Длины отрезков должны быть целыми числами. По умолчанию длина одного отрезка должна равняться 10, с возможностью изменения. 

Проверьте функцию на своём примере.

In [17]:
#прекод
# задаем переменные
a = int(input("Введите первое число:") or 10)
b = int(input("Введите второе число:") or 10)
c = int(input("Введите третье число:") or 10)

# проверяем ввод чисел
print(f'Вы ввели числа: {a}, {b} и {c}')

# определяем функцию
def triangle(a, b, c):
    
    # Проверяем условия для существования треугольника
    if (a + b > c) and (a + c > b) and (b + c > a):
        return "Можно составить треугольник."
    else:
        return "Нельзя составить треугольник."

# Примеры использования функции
print(triangle(a, b, c))

Введите первое число: 12
Введите второе число: 33
Введите третье число:

Вы ввели числа: 12, 33 и 10
Нельзя составить треугольник.


### Задание 1.11

Составьте функцию, которая: 

- принимает на вход целое число,
- отображает на экране таблицу умножения на это число.

Если не вводить аргумент, то функция должна отобразить таблицу умножения на 1. 

При вводе дробного числа функция должна отобразить сообщение `'Для дробных чисел я не считаю!'`.

In [31]:
#прекод 
def table():
    while True:
        n = input('Введите целое число (или оставьте пустым для 1): ')
        
        # Проверяем, было ли введено значение
        if not n: 
            n = '1'  # Если значение не введено, устанавливаем по умолчанию 1
        
        # Проверяем, является ли введённое значение целым числом
        if n.isdigit():
            n = int(n)  # Преобразуем в int
            # Выводим таблицу умножения
            for t in range(1, 11):
                print(f'{n} x {t} = {n * t}')
            break  # Выходим из цикла после успешного выполнения
            
        else:
            print('Для дробных чисел я не считаю!')  # Сообщение для некорректного ввода

# Запускаем функцию
table()

Введите целое число (или оставьте пустым для 1):  4.6

Для дробных чисел я не считаю!

Введите целое число (или оставьте пустым для 1):  6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60


### Задание 1.12

Есть список строк с названиями и типами населённых пунктов. Переделайте список так, чтобы в нём остались только названия населённых пунктов. Например, если строка выглядит как `'посёлок городского типа Антополь'`, то в результате должно остаться только `'Антополь'`.

In [47]:
# пока ничего кроме регулярок на ум не приходит для решения этой задачи

# испортируем библиотеку для работы с регулярными выражениями
import re

locality_list = ['Санкт-Петербург', 'посёлок Шушары', 'городской посёлок Янино-1',
       'посёлок Парголово', 'посёлок Мурино', 'Ломоносов', 'Сертолово',
       'Петергоф', 'Пушкин', 'деревня Кудрово', 'Коммунар', 'Колпино',
       'поселок городского типа Красный Бор', 'Гатчина', 'поселок Мурино',
       'деревня Фёдоровское', 'Выборг', 'Кронштадт', 'Кировск',
       'деревня Новое Девяткино', 'посёлок Металлострой',
       'посёлок городского типа Лебяжье',
       'посёлок городского типа Сиверский', 'поселок Молодцово',
       'поселок городского типа Кузьмоловский',
       'садовое товарищество Новая Ропша', 'Павловск',
       'деревня Пикколово', 'Всеволожск', 'Волхов', 'Кингисепп',
       'Приозерск', 'Сестрорецк', 'деревня Куттузи', 'посёлок Аннино',
       'поселок городского типа Ефимовский', 'посёлок Плодовое',
       'деревня Заклинье', 'поселок Торковичи', 'поселок Первомайское',
       'Красное Село', 'посёлок Понтонный', 'Сясьстрой', 'деревня Старая',
       'деревня Лесколово', 'посёлок Новый Свет', 'Сланцы',
       'село Путилово', 'Ивангород', 'Мурино', 'Шлиссельбург',
       'Никольское', 'Зеленогорск', 'Сосновый Бор', 'поселок Новый Свет',
       'деревня Оржицы', 'деревня Кальтино', 'Кудрово',
       'поселок Романовка', 'посёлок Бугры', 'поселок Бугры',
       'поселок городского типа Рощино', 'Кириши', 'Луга', 'Волосово',
       'Отрадное', 'село Павлово', 'поселок Оредеж', 'село Копорье',
       'посёлок городского типа Красный Бор', 'посёлок Молодёжное',
       'Тихвин', 'посёлок Победа', 'деревня Нурма']
       
# определяем функцию
def locality_extractor(locality_list):
    # пустой список для записи обработанных навзаний
    extracted_localities = []
    
    # Регулярное выражение
    pattern = r'(?:поселок городского типа|посёлок городского типа|город|городской посёлок|посёлок|поселок|деревня|село|садовое товарищество)\s+(.*)'

    # цикл пробегет переменной по всему списку
    for loc in locality_list:
        match = re.search(pattern, loc) # поиск совпадений
        if match:
            # Добавляем только название населённого пункта
            extracted_localities.append(match.group(1).strip())
        else:
            # Если нет совпадений, добавляем само название
            extracted_localities.append(loc.strip())
    
    return extracted_localities

# Записываем в переменную очищенный список
clean_loc = locality_extractor(locality_list)

# Выводим результат
print(clean_loc)

['Санкт-Петербург', 'Шушары', 'Янино-1', 'Парголово', 'Мурино', 'Ломоносов', 'Сертолово', 'Петергоф', 'Пушкин', 'Кудрово', 'Коммунар', 'Колпино', 'Красный Бор', 'Гатчина', 'Мурино', 'Фёдоровское', 'Выборг', 'Кронштадт', 'Кировск', 'Новое Девяткино', 'Металлострой', 'Лебяжье', 'Сиверский', 'Молодцово', 'Кузьмоловский', 'Новая Ропша', 'Павловск', 'Пикколово', 'Всеволожск', 'Волхов', 'Кингисепп', 'Приозерск', 'Сестрорецк', 'Куттузи', 'Аннино', 'Ефимовский', 'Плодовое', 'Заклинье', 'Торковичи', 'Первомайское', 'Красное Село', 'Понтонный', 'Сясьстрой', 'Старая', 'Лесколово', 'Новый Свет', 'Сланцы', 'Путилово', 'Ивангород', 'Мурино', 'Шлиссельбург', 'Никольское', 'Зеленогорск', 'Сосновый Бор', 'Новый Свет', 'Оржицы', 'Кальтино', 'Кудрово', 'Романовка', 'Бугры', 'Бугры', 'Рощино', 'Кириши', 'Луга', 'Волосово', 'Отрадное', 'Павлово', 'Оредеж', 'Копорье', 'Красный Бор', 'Молодёжное', 'Тихвин', 'Победа', 'Нурма']


## Часть 2

### Задание 2.1

Импортируйте библиотеку pandas. Составьте объект Series, в котором будут содержаться ингредиенты салата. Отобразите переменную на экране.

Ингредиенты: зелёный горошек, колбаса варёная, майонез, картофель отварной, огурцы маринованные, морковь отварная.

In [14]:
#прекод
import pandas as pd
ingredients  = pd.Series(['зелёный горошек', 'колбаса варёная', 'майонез', 'картофель отварной', 'огурцы маринованные', 'морковь отварная'])
print(ingredients)

0        зелёный горошек
1        колбаса варёная
2                майонез
3     картофель отварной
4    огурцы маринованные
5       морковь отварная
dtype: object


### Задание 2.2

Создайте Dataframe, состоящий из элементов:

- в первом столбце — имена капитанов команд;
- во втором столбце — названия команд;
- в третьем столбце — число очков, набранных командой.

Столбцы назовите: `name`, `command`, `score`. Данные вы найдёте в переменных. 

Обязательное условие: используйте словарь для создания Dataframe.

In [15]:
#прекод
name = ['Александр', 'Дмитрий', 'Анна', 'Виктория']
command = ['Серебряный диск', 'Медное копьё', 'Великий шар', 'Стремительный клинок']
score = [90, 40, 80, 98]

t = {
    'name':pd.Series(name),
    'command':pd.Series(command),
    'score':pd.Series(score)
}
    

df = pd.DataFrame(data = t, columns = ['name', 'command', 'score'])
print(df)

        name               command  score
0  Александр       Серебряный диск     90
1    Дмитрий          Медное копьё     40
2       Анна           Великий шар     80
3   Виктория  Стремительный клинок     98


### Задание 2.3

Выполните предыдущее задание, но с другим обязательным условием: используйте список списков для создания Dataframe.

In [16]:
#прекод
name = ['Александр', 'Дмитрий', 'Анна', 'Виктория']
command = ['Серебряный диск', 'Медное копьё', 'Великий шар', 'Стремительный клинок']
score = [90, 40, 80, 98]

t = [
    ['Александр', 'Серебряный диск', 90],
    ['Дмитрий', 'Медное копьё', 40],
    ['Анна', 'Великий шар', 80],
    ['Виктория','Стремительный клинок', 98]
]

df = pd.DataFrame(data = t, columns = ['name', 'command', 'score'])
print(df)

        name               command  score
0  Александр       Серебряный диск     90
1    Дмитрий          Медное копьё     40
2       Анна           Великий шар     80
3   Виктория  Стремительный клинок     98


### Задание 2.4

В рамках тестового задания вы поработаете с новым датасетом. В нём содержится информация о доставках товаров в различные районы города. Выгрузите в переменную `df_proj` файл `delivery.csv`. Датасет находится по адресу `/datasets/delivery_proj.csv`

Отобразите первые пять строк этого датасета.

In [17]:
df_proj = pd.read_csv('/datasets/delivery_proj.csv')
print(df_proj.head())

   order_id               time_order            Time_delivery last_name  \
0       224  2023-01-22 10:31:30.000  2023-01-22 10:49:30.000  Журавлев
1      2174  2023-01-30 15:20:17.000  2023-01-30 17:09:17.000    Ершова
2      2076  2023-02-24 03:48:17.000  2023-02-24 04:42:17.000   Суханов
3      2337  2023-01-18 21:46:55.000  2023-01-18 23:02:55.000   Веселов
4      1140  2023-02-02 17:20:33.000  2023-02-02 18:13:33.000  Калинина

  first_name   gender             District  discont var_product  price  \
0      Денис  Мужской    Фонтанный квартал        2       Фондю  48.43
1      Ольга  Женский       Радужная степь        0     Пад тай  19.10
2      Артем  Мужской       Радужная степь        3       Кимчи  39.88
3    Валерий  Мужской       Радужная степь        0     Муссака  32.99
4      Ирина  Женский  Эмпайровское кольцо        2       Тапас  29.16

   quantity         deliveryman   transport
0         1  Анастасия Морозова   велосипед
1         3  Анастасия Морозова   велосипед
2         1       Павел Семенов  автомобиль
3         2        Иван Лебедев  автомобиль
4         2        Иван Лебедев  автомобиль


### Задание 2.5

Названия некоторых столбцов датасета написаны некорректно: некоторые названия начинаются с заглавной буквы, а в названии `discont` есть опечатка. Переделайте датасет так, чтобы в названиях столбцов не было заглавных букв, а название столбца `discont` исправьте на `discount`. Отобразите первые пять строк нового датасета.

In [18]:
#прекод
df_proj.columns = df_proj.columns.str.lower().str.replace('discont', 'discount')
print(df_proj.head())

   order_id               time_order            time_delivery last_name  \
0       224  2023-01-22 10:31:30.000  2023-01-22 10:49:30.000  Журавлев
1      2174  2023-01-30 15:20:17.000  2023-01-30 17:09:17.000    Ершова
2      2076  2023-02-24 03:48:17.000  2023-02-24 04:42:17.000   Суханов
3      2337  2023-01-18 21:46:55.000  2023-01-18 23:02:55.000   Веселов
4      1140  2023-02-02 17:20:33.000  2023-02-02 18:13:33.000  Калинина

  first_name   gender             district  discount var_product  price  \
0      Денис  Мужской    Фонтанный квартал         2       Фондю  48.43
1      Ольга  Женский       Радужная степь         0     Пад тай  19.10
2      Артем  Мужской       Радужная степь         3       Кимчи  39.88
3    Валерий  Мужской       Радужная степь         0     Муссака  32.99
4      Ирина  Женский  Эмпайровское кольцо         2       Тапас  29.16

   quantity         deliveryman   transport
0         1  Анастасия Морозова   велосипед
1         3  Анастасия Морозова   велосипед
2         1       Павел Семенов  автомобиль
3         2        Иван Лебедев  автомобиль
4         2        Иван Лебедев  автомобиль


### Задание 2.6

Из полученного датасета составьте два новых:

- Первый датасет назовите `df_orders`. Поместите в него столбцы: `'order_id'`, `'time_order'`, `'last_name'`,  `'var_product'`, `'price'` и `'quantity'`.
- Второй датасет назовите `df_delivery` и оставьте в нём столбцы: `'order_id'`, `'time_delivery'`, `'district'`, `'deliveryman'`, `'transport'`.

In [19]:
#прекод
df_orders = df_proj[['order_id', 'time_order', 'last_name', 'var_product', 'price', 'quantity']]
df_delivery = df_proj[['order_id', 'time_delivery', 'district', 'deliveryman', 'transport']]


### Задание 2.7

Из датасета `df_orders` отобразите только те строки, где покупатели заказывали `'Фондю'` и в заказе было больше одного блюда.

In [20]:
#прекод
df_orders.query('var_product == "Фондю" and quantity > 1')

,order_id,time_order,last_name,var_product,price,quantity
233,382,2023-01-06 08:13:20.000,Боброва,Фондю,48.43,2
236,1791,2023-02-28 09:53:36.000,Журавлева,Фондю,48.43,2
257,2234,2023-02-01 08:26:01.000,Анисимова,Фондю,48.43,3
283,1552,2023-01-21 09:08:16.000,Максимов,Фондю,48.43,3
353,2187,2023-01-14 08:57:27.000,Ефимов,Фондю,48.43,3
375,1683,2023-02-01 07:02:02.000,Казаков,Фондю,48.43,2
424,262,2023-01-25 03:29:19.000,Козлова,Фондю,48.43,3
552,1127,2023-02-27 17:27:28.000,Сидорова,Фондю,48.43,3
565,1359,2023-01-15 14:06:24.000,Федорова,Фондю,48.43,2
570,882,2023-01-13 11:38:20.000,Щербаков,Фондю,48.43,2
584,825,2023-02-28 17:09:17.000,Сидоров,Фондю,48.43,3
628,898,2023-02-17 20:34:35.000,Тимофеев,Фондю,48.43,2
677,2328,2023-02-28 10:17:23.000,Фролова,Фондю,48.43,3
727,887,2023-01-09 07:12:06.000,Коновалов,Фондю,48.43,3
797,1043,2023-01-09 00:33:10.000,Ильина,Фондю,48.43,2
811,274,2023-02-15 17:35:24.000,Куликова,Фондю,48.43,3
873,890,2023-02-15 07:38:25.000,Богданов,Фондю,48.43,2
892,1775,2023-02-10 16:40:58.000,Ковалев,Фондю,48.43,2
936,1254,2023-02-11 21:14:25.000,Новиков,Фондю,48.43,3
944,873,2023-01-31 05:46:20.000,Веселова,Фондю,48.43,2
953,1768,2023-01-13 08:15:01.000,Антонова,Фондю,48.43,3
981,343,2023-01-02 01:58:52.000,Денисова,Фондю,48.43,3
1002,225,2023-02-09 19:59:33.000,Давыдова,Фондю,48.43,2
1042,1971,2023-01-14 00:45:18.000,Виноградова,Фондю,48.43,2
1099,480,2023-01-25 06:48:35.000,Цветкова,Фондю,48.43,3
1172,916,2023-02-09 11:03:48.000,Андреев,Фондю,48.43,3
1223,1760,2023-02-26 23:17:39.000,Петухова,Фондю,48.43,2
1256,2316,2023-02-27 05:41:50.000,Антонов,Фондю,48.43,2
1303,1983,2023-02-06 06:10:37.000,Соловьев,Фондю,48.43,3
1354,220,2023-02-03 12:06:21.000,Герасимова,Фондю,48.43,2
1368,892,2023-01-18 19:06:30.000,Ефимов,Фондю,48.43,2
1383,278,2023-02-12 22:44:29.000,Андреева,Фондю,48.43,3
1398,1933,2023-01-05 15:46:34.000,Матвеев,Фондю,48.43,2
1417,373,2023-01-23 16:27:56.000,Дорофеев,Фондю,48.43,3
1511,1105,2023-02-07 16:40:51.000,Филиппов,Фондю,48.43,2
1534,862,2023-01-19 02:32:25.000,Колесникова,Фондю,48.43,3
1578,1732,2023-01-11 19:25:06.000,Антонова,Фондю,48.43,3
1582,1510,2023-01-23 22:35:35.000,Анисимов,Фондю,48.43,3
1601,1109,2023-01-21 11:45:30.000,Киселев,Фондю,48.43,2
1627,642,2023-02-23 16:46:25.000,Богданов,Фондю,48.43,2
1772,2156,2023-01-16 05:55:19.000,Казакова,Фондю,48.43,2
1829,1848,2023-02-06 10:19:06.000,Федоров,Фондю,48.43,2
2057,482,2023-02-24 14:46:41.000,Мельников,Фондю,48.43,2
2196,87,2023-01-03 18:29:41.000,Большаков,Фондю,48.43,2
2300,1293,2023-02-06 19:26:51.000,Морозова,Фондю,48.43,2
2332,110,2023-02-07 03:46:21.000,Григорьева,Фондю,48.43,3
2442,473,2023-02-27 02:57:45.000,Яковлева,Фондю,48.43,3
2460,2360,2023-01-24 06:50:47.000,Большакова,Фондю,48.43,3
2604,285,2023-01-21 06:29:11.000,Тимофеев,Фондю,48.43,3
2613,1352,2023-02-09 13:27:02.000,Сидоров,Фондю,48.43,3


### Задание 2.8

Из датасета `df_delivery` отобразите столбцы `order_id` и `deliveryman`, но только те заказы, которые курьеры доставляли в район `'Эмпайровское кольцо'` на транспорте `'мотоцикл'` или в район `'Искровое ущелье'` любым другим транспортом.

In [21]:
# не верно понял задание, прочитал "любым транспортом" )

#прекод
df_delivery.query('(district  == "Эмпайровское кольцо" and transport  == "мотоцикл") or district  == "Искровое ущелье" and transport  != "мотоцикл"')[['order_id', 'deliveryman']]

      order_id         deliveryman
25        1863    Алексей Богданов
26        1863    Алексей Богданов
29        1162    Александр Иванов
30        1162    Алексей Богданов
34         605      Михаил Смирнов
...        ...                 ...
2614       150       Юлия Соколова
2622       858  Виктория Михайлова
2628       491     Ольга Кузнецова
2631       236     Андрей Николаев
2635      1730   Екатерина Петрова

[280 rows x 2 columns]

### Задание 2.9

В основном датасете `df_proj` замените значения `'Фондю'` на `'Омлет'`. Также установите значение `discount` на `0` в строках, где количество блюд в заказе не превышало одного.

In [22]:
#прекод
df_proj['var_product'] = df_proj['var_product'].replace('Фондю', 'Омлет')
df_proj.loc[df_proj['quantity'] <= 1, 'discount'] = 0

## Часть 3 (необязательная)

Придумайте и реализуйте несколько взаимосвязанных функций. Покажите в этой тетрадке, как можно использовать ваши функции.

> Определиться с темой для функций бывает непросто. Вот несколько идей, которые могут пригодиться:
> 
> 
> Можно реализовать уже известные вам специализированные методы — но немного изменить их и сделать так, чтобы они работали так, как нужно вам. Например, разработать функцию, которая убирает дублирующиеся пробелы внутри строки.
> 
> Выше вы реализовали функцию, которая определяет, можно ли из трёх заданных отрезков составить треугольник. Можно продолжить идею и создать функции, которые определят, является ли треугольник равносторонним или равнобедренным, или проверят другие геометрические свойства у фигур с заданными сторонами и углами.
> 
> Если вы хотите чего-то более близкого к реальности, то можно реализовать математические методы, полезные в анализе данных. Например:
>
> ● функцию, которая определяет, является ли число простым,
>
> ● рассчитывать значение, соответствующее медиане, какому-то из квартилей или самое часто встречающееся значение.
> 
> Можно продолжить работать с датасетами и сериями данных. Например, сделать функцию, которая принимает серию с категориями (один из столбец какой-то таблицы), а возвращает серию или таблицу с top-N категориями и отдельным расчётом для всех категорий, которые попали в «Другие».
> 
> Подумайте, что полезно именно вам, и реализуйте — это будет лучшим решением для вашего развития.
>

In [23]:
# импортируем библиотеку
import pandas as pd

# определяем функцию
def snake_converter(df):
    # Приводим названия столбцов к нижнему регистру и заменяем пробелы на нижние подчеркивания
    df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('-', '_')
    return df

# Пример использования функции
data = {
    'First Name': ['Александр', 'Дмитрий'],
    'Last Name': ['Иванов', 'Петров'],
    'Order-Id': [1, 2],
    'Delivery Time': ['12:00', '13:00']
}

# Создаем DataFrame
df = pd.DataFrame(data)

# Применяем функцию
df_snake_case = snake_converter(df)

# Выводим результат
print(df_snake_case)

  first_name last_name  order_id delivery_time
0  Александр    Иванов         1         12:00
1    Дмитрий    Петров         2         13:00